<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a routerLink="/" class="brand-link">
    <img src="/assets/img/logo.png" alt="Flan" class="brand-image elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Flan</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image col-sm-2">
        <img [src]="user.photo" class="img-circle elevation-2" alt="{{user.name}}">
      </div>
      <div class="info col-sm-7">
        <a href="#" class="d-block">{{user.name}}</a>
      </div>
      <div class="info col-sm-7">
        <a (click)="logout()" class="cursor" title="Exit">
          <i class="fa fa-power-off"></i>
        </a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li *ngFor="let menu of menuRoutes" class="nav-item">
          <a href="javascript:void(0)" class="nav-link">
            
            <i *ngIf="menu.icon" class="nav-icon fas fa-{{menu.icon}}"></i>
            <p>
              {{menu.tab | slice:0:17}}
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" *ngFor="let submenu of menu.submenu">
            <li class="nav-item">
              <a routerLink="{{submenu.url}}"  routerLinkActive="active-link" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <i *ngIf="submenu.icon" class="nav-icon fas fa-{{submenu.icon}}"></i>
                <p>{{submenu.title}}</p>
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
