<div class="card">
  <div class="card-header">
    <h3 class="card-title">
      Users total: {{listService.total}}
    </h3>

    <div class="card-tools">
      <div class="input-group input-group-sm">
        <input type="text" name="table_search" class="form-control float-right" placeholder="Search"
          (keyup.enter)="filterEven( terminoSearch.value )" #terminoSearch>

        <div class="input-group-append">
          <button type="submit" title="Buscar" class="btn btn-default" (click)="filterEven( terminoSearch.value )">
            <i class="fas fa-search"></i>
          </button>
          <app-advancesearch 
            *ngIf="isAdvanceSearch" 
            [fields]="listService.fields"
            (filterSearch)="filterAdvanceEven($event)">
          </app-advancesearch>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body table-responsive p-10">
    <ng-template [ngIf]="!listService.data" [ngIfElse]="tableinfo">
      <div class="alert alert-info">
        <div class="text-center">
          <h5>No hay usuarios para mostrar</h5>
        </div>
      </div>
    </ng-template>
    <ng-template #tableinfo>
      <table aria-labelledby="table" class="table table-hover text-nowrap table-striped">
        <thead>
          <tr>
            <th *ngFor="let field of listService.fields">
              <ng-template *ngIf="field.orderby; then ifSort else elseSort"></ng-template>

              <ng-template #ifSort>
                <span (click)="sortColumn(field['key'])">
                  {{field.label}}
                  <i *ngIf="field.orderby" class="fas fa-sort"></i>
                </span>
              </ng-template>

              <ng-template #elseSort>
                <span>{{field.label}}</span>
              </ng-template>

            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listService.data">
            <td *ngFor="let field of listService.fields" class="text-{{field.align}}">
              <ng-template [ngIf]="field['type']" [ngIfElse]="defauld">

                <ng-container [ngSwitch]="field.type">

                  <ng-container *ngSwitchCase="'image'">
                    <span class="user-block">
                      <img class="img-circle img-bordered-sm" [src]="item.attribute[field['key']] | noimage" alt="{{item.id}}">
                    </span>
                  </ng-container>

                  <ng-container *ngSwitchCase="'datetime'">
                    <span>
                      {{item.attribute[field['key']] | date:'dd/MM/YYYY HH:mm'}}
                    </span>
                  </ng-container>

                  <ng-container *ngSwitchCase="'date'">
                    <span>
                      {{item.attribute[field['key']] | date:'dd/MM/YYYY'}}
                    </span>
                  </ng-container>

                  <ng-container *ngSwitchCase="'boolean'">
                    <span *ngIf="item.attribute[field['key']]" class="text-success">
                      <i class="fas fa-check"></i>
                    </span>

                    <span *ngIf="!item.attribute[field['key']]" class="text-danger">
                      <i class="fas fa-times"></i>
                    </span>
                  </ng-container>

                  <ng-container *ngSwitchDefault>
                    <span>{{item.attribute[field['key']]}}</span>
                  </ng-container>
                </ng-container>

              </ng-template>

              <ng-template #defauld>
                <span>
                  {{item.attribute[field['key']]}}
                </span>
              </ng-template>

            </td>
            <td class="text-right py-0 align-middle">
              <div class="btn-group btn-group-sm">
                <button *ngIf="listService.permissions.hasPermission" type="button" class="btn btn-default" title="crear nuevo" data-toggle="modal" data-target="#form" (click)="editAction(item.id)">
                  <i class="fas fa-edit"></i>
                </button>
                
                <button *ngIf="listService.permissions.hasPermission" type="button" class="btn btn-default" title="eliminar" (click)="deleteAction(item.id)">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </div>

  <div class="card-footer clearfix row">

    <div *ngIf="listService.total > filters.perPage" class="col">
      <div class="input-group">
        <ngb-pagination [collectionSize]="listService.total" [(page)]="filters.page" [pageSize]="filters.perPage" [maxSize]="filters.perPage"
          [rotate]="true" [ellipses]="true" [boundaryLinks]="true" (pageChange)="pageChanget($event)">
        </ngb-pagination>
      </div>
    </div>
    <div *ngIf="listService.total > filters.perPage" class="col text-right">
        <label for="select-per-page" class="m-1">ver</label>
        <select class="custom-select col-6 col-md-2" name="select-per-page" id="select-per-page" 
        (ngModelChange)="filterPerPage($event)"
        [(ngModel)]="filters.perPage">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="{{listService.total}}">all</option>
        </select>
    </div>
  </div>
</div>